<div class="body">
	<div class="container">
		<% if params[:category] == "user" %>
			<h2>Users search for '<%= params[:search] %>'</h2>
			<table class="table">
				<tr>
					<th>image</th>
					<th>name</th>
					<th></th>
				</tr>
				<% @searches.each do |search| %>
					<tr>
						<td>
							<%= link_to user_path(search.id) do %>
								<%= attachment_image_tag search, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
							<% end %>
						</td>
						<td><%= search.name %></td>
						<td><%= link_to "Show", user_path(search) %></td>
					</tr>
				<% end %>
			</table>

		<% elsif params[:category] == "book" %>
			<h2>Books search for '<%= params[:search] %>'</h2>
			<table class="table">
				<tr>
					<th>image</th>
					<th>title</th>
					<th></th>
				</tr>
				<% @searches.each do |search| %>
					<tr>
						<td>
							<%= link_to user_path(search.id) do %>
								<%= attachment_image_tag search.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
							<% end %>
						</td>
						<td><%= search.title %></td>
						<td><%= link_to "Show", book_path(search) %></td>
					</tr>
				<% end %>
			</table>
		<% end %>
	</div>
</div>