<div class="body">
	<div class="container">
		<h2>User info</h2>
		<% if @user.errors.any? %>
			<h2><%= @user.errors.count %>
				 errors prohibited this obj from being saved:
			</h2>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>
		<%= form_for(@user) do |f| %>
			<div class="field">
				<label>Name</label>
				<%= f.text_field :name %>
			</div>
			<div class="field">
				<h4>Image</h4>
				<%= f.attachment_field :profile_image %>
			</div>
			<div class="field">
				<h4>Introduction</h4>
				<%= f.text_area :introduction %>
			</div>
			<div class="field">
				<h4>Postal Code</h4>
				<%= f.number_field :postal_code %>
			</div>

			<div class="field">
				<h4>Prefecture Code</h4>
				<%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, include_blank: true, select: @user.prefecture.name %>
			</div>

			<div class="field">
				<h4>City</h4>
				<%= f.text_field :address_city %>
			</div>

			<div class="field">
				<h4>Street</h4>
				<%= f.text_field :address_street %>
			</div>

			<div class="field">
				<%= f.submit "Update User" %>
			</div>
		<% end %>
	</div>
</div>