<main class="clearfix">
	<div class="sidebar">
	<div class="user">
		<h1>User info</h1>
		<%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
		<%= current_user.name %>
		<%= current_user.introduction %>
		<%= link_to "ユーザー編集", edit_user_path(current_user.id) %>
	</div>
	<div class="new-book">
		<h2>New Book</h2>
		<%= form_for(@book, url: books_path) do |f| %>
			<div>
				<div>
					<label>Title</label>
					<%= f.text_field :title %>
				</div>
				<div>
					<label>Opinion</label>
					<%= f.text_area :body %>
				</div>
				<div>
					<%= f.submit "Create Book" %>
				</div>
			</div>
		<% end %>
	</div>
</div>

<div class="user-detail">
	<div>
		<h1>Books</h1>
		<div>
			<table>
				<% @books.each do |book| %>
					<tr>
						<td>
							<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
						</td>
						<td>
							<%= link_to book_path(book.id) do %>
								<%= book.title %>
							<% end %>
						</td>
						<td><%= book.body %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
</main>